version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: sme_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sme_inventory
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: sme_redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: sme_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data:
